body {
  padding-bottom: 50px;
  font-family: Impact, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #6a2f2f;
  display: flex;
  justify-content: center;
  padding: 10px;
}

#masonry {
  column-count: 1;
  column-gap: 5px;
}

#winner {
  margin-top: 20px;
  width: 100%;
}

#breedButton {
  background-color: #556b2f;
  font-family: Impact, sans-serif;
  font-size: 20px;
  color: white;
  border-style: none;
  cursor: pointer;
  padding: 20px;
}

#breedButton:focus {
  outline: none;
}

#breedSelect {
  outline: none;
  font-size: 20px;
  font-family: Impact, sans-serif;
  padding: 10px;
  border: none;
  box-shadow: 0px 3px 4px 0px #ccc;
  margin-bottom: 10px;
}

.image {
  display: inline-block;
  margin: 0 0 10px;
  width: 100%;
}

h1 {
  text-align: center;
  color: #6a2f2f;
}

h2 {
  text-align: center;
  color: #556b2f;
  font-size: 25px;
}

label {
  text-align: center;
  color: #556b2f;
  font-size: 25px;
}

a {
  color: white;
  text-decoration: none;
  text-align: center;
}


@media only screen and (min-width: 961px) {
  form {
      width: 50%;
  }
  #image-cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #form-cont {
    display: flex;
    justify-content: center;
  }
  #masonry {
    column-count: 5;
    column-gap: 10px;
  }

  #winner {
    width: auto;
    height: auto;
    max-width: 50%;
    align-self: center;
  }

  .image {
    display: inline-block;
    margin: 0 0 10px;
    width: 100%;
    border:2px solid #fff;
    box-shadow: 1px 4px 2px #ccc;
  }

  .image:hover {
    cursor: pointer;
  }
}
